.form-container{
    width:892px;
    height:800px;
    background-color: rgba(7, 52, 201, 0.685);
}
.form{
    background-color: rgb(218, 211, 211);
    width:880px;
    height:700px;
    text-align: left;
    margin-left: 6px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 50px;;
}
.input-container{
    width:750px;
    height:200px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px;
    background-color: rgb(150, 138, 138);
    border-radius: 5px;
    margin-left:8%;
 
    padding:10px;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.btn-submit{
    padding-top:10px;
}
.input-submit{
    padding-top: 10px;
    height: 40px;
    width:70px;
    margin:0;
    padding:0;
    margin-left:85%;
background:transparent;
border:2px solid rgb(51, 175, 233);
}
.input-submit:hover{
    background-color: rgb(13, 98, 245);
    border:0;
    color:white;
}
.img-upload-submit{
    background-color: #f5af09;
    /* visibility: hidden; */

}
.input-header{
    color:white;
}
input[type="file"]{
    display: none;
}
label{
    color:rgb(9, 99, 202);
    height: 35px;
    width: 200px;
    background-color: #f5af09;
    border-radius: 5px;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid black;
}
@media screen and (max-width: 500px) {
    .form{
        width:318px;
        height:450px;
    }
    .input-container{
        width:280px;
        height:300px;
    }
    .form-container{
        width:330px;
        height:500px;
        margin-left: 5%;
    }
    label{
        width: 100px;
    }
    label .fas{
        display:block;
    }
    .input-submit{
        margin-left:75%;
    }
}